rose-build
rose-install

evaluation/Makefile
libopenacc/lib/Makefile

configure
autom4te.cache
config.log
config.status

rose.sh

*.o
*.so
*.a

tests/001/Makefile

tests/002/Makefile
tests/002/dev-list

tests/101/Makefile
tests/101/libopenacc
tests/101/reference

tests/102/Makefile
tests/102/libopenacc
tests/102/reference

tests/103/Makefile
tests/103/libopenacc
tests/103/reference

tests/109/Makefile
tests/109/libopenacc
tests/109/reference

tests/501/Makefile
tests/501/libopenacc
tests/501/reference

tests/509/Makefile
tests/509/libopenacc
tests/509/reference

tests/scripts/100-rules.mk
tests/scripts/500-rules.mk
tests/scripts/environment.mk

tests/X09-tunning/generate-109.sh
tests/X09-tunning/execute-109.sh
tests/X09-tunning/compile-109.sh
tests/X09-tunning/compile-509.sh
tests/X09-tunning/X09-version.make
tests/X09-tunning/X09.make
tests/X09-tunning/versions.tar.gz
tests/X09-tunning/version-*

benchmark/generate.sh
benchmark/compile.sh
benchmark/execute.sh
benchmark/execute_min.sh
benchmark/process.sh
benchmark/config.rc

*.log
*.db
*.sl3

