rose-build
rose-install

evaluation/Makefile
libopenacc/lib/Makefile

configure
autom4te.cache
config.log
config.status

rose.sh

*.o
*.so
*.a

tests/001/Makefile
tests/101/Makefile
tests/102/Makefile
tests/103/Makefile
tests/501/Makefile

tests/scripts/100-rules.mk
tests/scripts/environment.mk

benchmark/generate.sh
benchmark/compile.sh
benchmark/execute.sh
benchmark/process.sh

