
export LIBACC_TEST_SIZE_LIST="20 23 27 30 35 39 44 50 57 64 72 81 90 101 113 126 140"

export LIBACC_TEST_GANG_LIST="1 2 4 8 16"
export LIBACC_TEST_WORKER_LIST="4 8 16 32 64"
export LIBACC_TEST_VECTOR_LIST="1 2 4 8 16"

export LIBACC_TEST_SAMPLING_SIZE=3

